$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

a{
  cursor: pointer;
}

.dropdown{
  margin: 18px 20px 0 10px;
  a{
    color: #fff;
    .glyphicon{
      font-size: 20px;
    }
  }
}

.no-margin{
  margin: 0;
  padding: 0;
  img{
    width: 100%;
  }
}

nav.navbar{
  border-radius: 0;
  margin: 0;
  h1{
    margin: 10px 0;
    padding: 0;
    color: #fff;
    display: block;
    span{
      color: grey;
      padding: 0 5px;
    }
  }  
}

img{
  min-height: 100%;
}

.topten{
  img{
    max-height: 200px;
    max-height: 200px!important;
    min-height: auto!important;
  }
}

.hidden{
  display: none;
}

.institution{
  td{
    width: 50%;
  }
  img{
    max-height: 200px;
    max-height: 200px!important;
    min-height: auto!important;    
  }
}

.grey-bg{
  background: #262626;
  color: #fff;
  border: 5px solid #fff;

  h1{
    margin: 60px 0;
  }
}

.intro{
  margin: 50px 0;
}

.clickable{
  cursor: pointer;
}

.img-small{
    max-height: 200px;
    max-height: 200px!important;
    min-height: auto!important;   
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}